.stacked-cover-container {
  width: 120rpx;
  height: 100rpx;
  position: relative;
  margin-right: 30rpx;
}

.stacked-item {
  width: 100rpx;
  height: 100rpx;
  border-radius: 12rpx;
  background-color: #eee;
  box-shadow: 0 4rpx 8rpx rgba(0, 0, 0, 0.15);
  border: 2rpx solid #fff;
}
